@import "variables"

body
  margin: 0
  font-family: 'source sans pro'
  .theme-button-parent
    z-index: 10
    position: sticky
    top: 0px
    #theme-svg
      position: -webkit-sticky
      position: absolute
      top: 40px
      right: 40px
      cursor: pointer
  .footer
    .left-comlumn
      .crop-container
        overflow: hidden
        border-radius: 50%
        width: 150px
        height: 150px
        img
          width: 150px
          height: 150px

.light
  background-color: white
  #theme-svg .theme-button
   fill: white
   stroke: $c_main
   &:hover
    fill: $cd_dark
    stroke: $cd_main
  .footer
    background-color: white

.dark
  background-color: $cd_dark
  #theme-svg .theme-button
   fill: $cd_dark
   stroke: $cd_main
   &:hover
    fill: $cf_light
    stroke:  $cf_dark
  .footer
    background-color: $cd_dark

.frozen
  background-color: white
  #theme-svg .theme-button
   fill: $cf_light
   stroke:  $cf_dark
   &:hover
    fill: white
    stroke: $c_main
  .footer
    background-color: $cf_light




// #f18b47
// #f36d45
// #eea448
// #181e9c
// #330867
// #30cfd0


// #7289DA
// #ffffff
// #2C2F33
// #18285e
// #99AAB5
// #23272A

// #1EC2F6
// #95D2F7
// #F84A96
// #0093D6
// #43E9F0
// #D02166
